# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual environment
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ngrok
ngrok.exe
ngrok-v3-stable-windows-amd64.zip

# Batch files
*.bat